*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
target/
.project
.classpath

.idea/compiler.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
.idea/libraries/Maven__com_wds_claimrecordation_claimrecordation_erv_external_model_1_0_0_SNAPSHOT.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/misc.xml
snippets.iml
/.idea/
/.settings/
